.navbar {
    background-color: red !important;
}

.navbar .container a.navbar-brand{
    color: white;
}
.navbar .container .nav-item a#navbarDropdown{
    color: white;
}
.navbar .container .nav-item a.nav-link{
    color: white;
}

.container.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container.card-box .card {
    margin-top: 10px;
}